<div class="footer-content d-flex justify-content-between align-items-center">
  <div class="left-section">

    <div class="message">
      A <a href="https://veniceprojectcenter.org/">Venice Project Center</a> 25th Anniversary Project
    </div>
  </div>
  <div class="right-section">
    <div class="logos d-flex">
      <a href='https://www.comune.venezia.it/' target='_new'>
        <img class='logo' src='assets/img/flag_venice.png' alt="logucl" height="30" />
      </a>
      <a href='https://veniceprojectcenter.org/' target='_new'>
        <img class='logo' src='assets/img/vpc.png' alt="vpc" height="30" />
      </a>
      <a href='https://www.ucl.ac.uk/' target='_new'>
        <img class='logo' src='assets/img/logoucl.png' alt="logucl" height="30" />
      </a>
      <a href='https://www.wpi.edu/' target='_new'>
        <img class='logo' src='assets/img/wpi.gif' alt ="wpi" height="30" />
      </a>
    </div>
  </div>
</div>
