name: Crono Job Script Js

on:
  schedule:
    - cron: '30 0 * * *'
  workflow_dispatch:

jobs:
  run-js-script:
    runs-on: ubuntu-latest

    env:
      DATABASE_URL: ""
      TIDEAPI_KEY: ""
      CORS_ORIGIN: ""
      CRON_SECRET: "*"
      SCRAPEAPY_KEY: "*"

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '23'

      - name: Install Dependencies
        working-directory: backend
        run: npm install

      - name: Run script
        working-directory: backend/api/
        run: node cron.js


